@import "_variable";

@mixin pc {
  @media screen and (max-width: ($pc)) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

@mixin flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin section {
  @include flex-column;
  margin-bottom: 32px;
  padding: 0 15vw;
  @include sp {
    padding: 0 10vw;
  }
}